{% extends "base.html" %}
{% load static %}

{% block title_block %}
RHCC - Contact
{% endblock %}

{% block style_block %}
<link rel="stylesheet" href="{% static 'info_app/css/contact.css' %}">

{% endblock %}

{% block body_block %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0" nonce="rLRa9XfI"></script>
<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h1>Inquiries</h1>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="inquiries">
                        <p>
                            For any inquiries, questions or commendations, please call <br>
                            <a href="tel:816-261-0353" style="color:black;">816-261-0353</a>
                            or fill out the form below:
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            <input style="width:100%;" type="text"
                                   name="{{ form.name.name }}"
                                   id="{{ form.name.id_for_label }}"
                                   {% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}" {% endif %}
                                   maxlength="{{ form.name.field.max_length }}" placeholder="{{ form.name.label }}"
                                   {% if form.name.field.required %}required{% endif %} /> <br>
                            <input style="width:100%;" type="text"
                                   name="{{ form.email.name }}"
                                   id="{{ form.email.id_for_label }}"
                                   {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}" {% endif %}
                                   maxlength="{{ form.email.field.max_length }}" placeholder="{{ form.email.label }}"
                                   {% if form.email.field.required %}required{% endif %} /> <br>
                            <input style="width:100%;" type="text"
                                   name="{{ form.subject.name }}"
                                   id="{{ form.subject.id_for_label }}"
                                   {% if form.subject.value != None %}value="{{ form.subject.value|stringformat:'s' }}" {% endif %}
                                   maxlength="{{ form.subject.field.max_length }}" placeholder="{{ form.subject.label }}"
                                   {% if form.subject.field.required %}required{% endif %} /> <br>
                            <textarea style="width:100%;" rows="6" type="textarea"
                                      name="{{ form.message.name }}"
                                      id="{{ form.message.id_for_label }}" placeholder="{{ form.message.label }}"
                                      {% if form.message.value != None %}value="{{ form.message.value|stringformat:'s' }}" {% endif %}
                                      maxlength="{{ form.message.field.max_length }}"
                                      {% if form.message.field.required %}required{% endif %}></textarea> <br>
                            <input class="btn btn-warning" type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h1>Home Office</h1>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="homeOffice">
                        <p>
                            <a href="http://maps.google.com/?q=1772 Pounds Rd Stone Mountain GA" target="_blank">1772 Pounds Rd Stone Mountain GA</a> <br><br>
                            <a href="mailto:michelconn@outlook.com">michelconn@outlook.com</a> <br>
                            <a href="tel:1-816-261-0353">Tel: 816-261-0353</a> <br>
                            Fax: 816-261-0353
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h1>Employment</h1>
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="employment">
                        <p>
                            To apply for a job with RHC Contracting, please send a cover letter together with your C.V. to
                            <a style="color:black;" href="mailto:michelconn@outlook.com">michelconn@outlook.com.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <h1>Social</h1>
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="socialCol">
                        <div class="row text-center dflex">
                            <div class="col-lg">
                                <h5>Facebook</h5>
                                <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>                            <div class="col-lg">
                                <h5>Linkedin</h5>
                                <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
                                <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="michel-conn-80907755" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/michel-conn-80907755?trk=profile-badge">Michel Conn</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static '/info_app/js/contact.js' %}"></script>

{% endblock %}
