<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>
        {% block title_block %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'info_app/dependencies/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'info_app/dependencies/jquery-3.3.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'info_app/dependencies/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'info_app/dependencies/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'info_app/dependencies/hammer.js' %}"></script>
    <link rel="stylesheet" href="{% static 'info_app/dependencies/w3.css' %}">
    <link rel="stylesheet" href="{% static 'info_app/dependencies/css.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block style_block %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'info_app/css/base.css' %}">

</head>

<body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<div class='logobar'>
  <a href="{% url 'index' %}"><img src="{% static 'info_app/images/RHCC.jpg' %}" alt=""></a>
</div>

<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark main-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#RHCCnavbar" aria-controls="RHCCnavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"  id="RHCCnavbar">
    <ul class="nav navbar-nav mx-auto">
      <li class="nav item active">
        <a class='nav-link' href="{% url 'info_app:about' %}">About Us</a>
      </li>
      <li class="nav item active">
        <a class='nav-link' href="{% url 'info_app:contact' %}">Contact</a>
      </li>
      <li class="nav item active">
        <a class='nav-link' href="{% url 'info_app:joblist' %}">Portfolio</a>
      </li>
    </ul>
  </div>
</nav>

  {% block body_block %}

  {% endblock %}

<div class="footer">
  <table align='center'>
    <td valign="top">
      <p><u>Who we are</u> <br>Leaders in quality commercial claims, consulting, and contracting</p>
    </td>
    <td valign="top">
      <p><u>Home Office</u><br><a href="http://maps.google.com/?q=1772 Pounds Rd Stone Mountain GA 30087" target="_blank">1772 Pounds Rd Stone Mountain GA 30087</a></p>
    </td>
    <td valign="top" style="word-wrap:break-word">
      <p><u>Contact</u><br><a href="mailto:michelconn@outlook.com">michelconn@outlook.com</a> <br><a href="tel:1-816-261-0353">Tel: 816-261-0353</a> <br>Fax: 816-261-0353</p>
    </td>
    <td valign="top">
      <p><u>Contact</u><br>
        <a target="_blank" href="https://www.facebook.com/michel.conn/"><img src="{% static 'info_app/images/Facebook_Logo_2023.png' %}" style="width:42px;height:42px;"></atarget="_blank">
        <a target="_blank" href="https://www.linkedin.com/in/michel-conn-80907755/"><img src="{% static 'info_app/images/In-Blue-40@2x.png' %}" style="width:42px;height:42px;"></atarget="_blank">
      </p>
    </td>
  </table>
</div>

</body>

</html>
