{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
RHCC - Home
{% endblock %}

{% block style_block %}
<link rel="stylesheet" href="{% static 'info_app/css/index.css' %}">
{% endblock %}

{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Our Mission</h1>
    <p class="lead">We are based on the belief that our customers' needs are of the utmost importance. Our entire team is committed to meeting those needs. As a result, a high percentage of our business is from repeat customers, referrals, and Insurance companies.
    It is our objective at RHCC is to provide outstanding service. It is our policy to have a quality control person inspect every building to insure the completed claim meets our high standards. This policy has proved to be extremely effective in minimizing call backs.
    Honesty is the cornerstone of RHCC work ethics. Just ask our business associates about us. Hiring RHCC as your professional Consultant ensures that your claim is handled correctly. You can be confident knowing that we will take care of everything.
    We would welcome the opportunity to earn your trust and deliver you the best service in the industry.</p>
  </div>
</div>

<div class="container" id="rowcont">
  <div class="row">
    <div class="col-md-2 d-flex align-items-center">
      <a href="{% url 'info_app:testimonials' %}">
      <img src="{{testimonial.personpic.url}}" alt="{% static 'info_app/images/person-light.png' %}" class="img-fluid" style="margin-bottom:10px;border:1px solid #7b3a20;">
    </a>
    </div>
    <div class="col-md-3 d-flex align-items-center justify-content-center">
      <blockquote class="blockquote">
        <a href="{% url 'info_app:testimonials' %}">
        <p class="mb-0" style="color:white">"{{testimonial.quote}}"</p>
        <footer class="blockquote-footer">{{testimonial.person}} from <cite title="Source Title">{{testimonial.company}}</cite></footer>
        </a>
      </blockquote>
     </div>
    <div class="col-md-7">
      <h3>Portfolio</h3>
      <div class="w3-content w3-display-container" id="indexSlidShow">
        {% for jobindex in job_list_index %}
        <div class="w3-display-container mySlides" style="text-align:center;">
          <a href="{% url 'info_app:joblist' %}">
          <img src="{{jobindex.mainpic.url}}" class="w3-animate-zoom" >
          </a>
          <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-animate-zoom" style="background-color:rgba(0,0,0,0.7);color:white;">
            {{jobindex.title}}
          </div>
        </div>
        {% endfor %}
        <button class="w3-button w3-display-left btn" onclick="plusDivs(-1)" style="background-color:rgba(255,255,255,0.9)">&#10094;</button>
        <button class="w3-button w3-display-right btn" onclick="plusDivs(+1)" style="background-color:rgba(255,255,255,0.9)">&#10095;</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src='{% static '/info_app/js/index.js' %}'></script>

{% endblock %}
