* {
  font-family: 'Noto Sans', sans-serif;
}

html,body {
  background-color: #D7D7D7;
  overflow: scroll;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.navbar-toggle.collapsed .icon-bar {
  color: white;
}

nav {
  background-color: #ED8600;
  margin-bottom: 20px;
}

a {
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.logobar{
  background-color: white;
  text-align: center;
}

.logobar img {
  width: 16%;
  min-width: 100px;
}

.footer {
  color: rgba(211,211,211,0.6);
  font-weight: bold;
  background: #7b3a20;
  position: relative;
  bottom: 0px;
  width: 100%;
  font-size: 90%;
  margin-top: 20px;
  z-index: 100000 !important;
}

.footer a {
  color: rgba(211,211,211,0.6);
}

.footer p {
  padding: 1.5%;
}


table{
  width: 50%;
  table-layout: fixed;
}

td {
  width: 100%
}

@media screen and (max-width:767px) {
    table tr > *{
        display: block;
    }
    table tr {
        display: table-cell;
    }
}
