* {
  box-sizing: border-box;
}

.jumbotron {
  background-color: rgba(237,134,0,0.4);
  color: white;
}

/* Position the image container (needed to position the left and right arrows) */
.imageslide {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  height: 700px;
  position: relative;
  overflow: hidden;
}
.mySlides img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: 100%;
}

.row {
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
  overflow: hidden;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.caption-container p {
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.col {
  float: left;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.col img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

@media screen and (max-width:760px) {
  .mySlides {
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  .mySlides img{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    height: 100%;
    width: auto;
  }
  .row {
    width: auto;
    height: 100px;
    margin-bottom: 50px;
    overflow: hidden;
  }
  .col {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .col img {
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
      height: 100%;
      width: auto;
  }
}
